<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/where" method="get">
        <button>Where is the vehicle right now ?</button>
    </form>
    <form action="/history" method="get">
        <button>Where did all the vehicles go in the past ?</button>
    </form>
    <form action="/speed" method="get">
        <button>What was the average speed of the vehicle</button>
    </form>
    <form action="/overspeed" method="get">
        <button>Did it do overspeeding ?</button>
    </form>
    <form action="/distance" method="get">
        <button>What was the distance travelled by the vehicle ?</button>
    </form>
    <form action="/specificTimeDistance" method="get">
        <button>Distance travelled by the vehicle in a selected time period</button>
    </form>
    <form action="/specificTimeAverage" method="get">
        <button>Average speed of the vehicle between a selected time period</button>
    </form>
    <form action="/specificTimeOverspeeding" method="get">
        <button>Did the vehicle do overspeeding between a specific time period</button>
    </form>

    <form action="/liveLocationTrackerVehicle" method="get">
        <button>Where is the vehicle right now, real time location</button>
    </form>
</body>
</html>